<IfModule mod_rewrite.c>
    RewriteEngine On

    # En entorno de producción la carpeta `public` ya es el document root.
    # Redirigir peticiones a `index.php` si no son archivos o directorios existentes.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
